<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><{$title}> - <{:C('SITE_TITLE')}></title>
    <link rel="stylesheet" href="__PUBLIC__/js/antd/antd.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <!--[if lt IE 10]>
    <script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/js/reactjs/react/react.min.js"></script>
    <script src="__PUBLIC__/js/reactjs/react-dom/react-dom.js"></script>
    <script src="__PUBLIC__/js/browser.min.js"></script>
    <script src="__PUBLIC__/js/antd/antd.min.js"></script>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
<div id="react-content"></div>
<script type="text/babel">
var { Row, Col, Menu, Icon, Button, Modal, Alert, Popconfirm, message, Tooltip, Card, Form, Table, Select, Input, Radio } = antd,
    FormItem = Form.Item,
  RadioGroup  = Radio.Group,
Exit = React.createClass({
  handleClick() {
    Modal.confirm({
      title: '确定要退出系统吗？',
      onOk() {
       window.location.href = '/Login/Out/Index';
      },
      onCancel() {},
    });
  },
  render() {
    return (
      <div id="nav-exit"><a onClick={this.handleClick}>退出系统</a></div>
    );
  },
}),
Header = React.createClass({
  getInitialState() {
    return {
      current: '<{$Think.MODULE_NAME}>',
    };
  },
  render() {
  var modules = <{$modules}>;
    return (
      <div id="header" className="clearfix home-nav-white">
          <Row>
              <Col span="4">
                  <a id="logo" href="/">
                      <img alt="logo" src="__PUBLIC__/images/logo.svg" />
                      <span><{:C('SITE_TITLE')}></span>
                  </a>
              </Col>
              <Col span="20">
                  <Menu onClick={this.handleClick} selectedKeys={[this.state.current]} mode="horizontal" id="nav">
                      { modules.map(function(item, index){ return <Menu.Item key={item.key}><a href={item.url}>{item.title}</a></Menu.Item> }) }
                  </Menu>
          <Exit />
              </Col>
          </Row>
      </div>
    );
  },
}),
Left = React.createClass({
  getInitialState() {
    return {
      current: '<{$Think.CONTROLLER_NAME}>',
    };
  },
  render() {
  var controllers = <{$controllers}>;
    return (
    <Menu onClick={this.handleClick} selectedKeys={[this.state.current]} mode="inline" id="nav-aside">
      { controllers.map(function(item, index){ return <Menu.Item key={item.key}><a href={item.url}><Icon type={item.icon}/>{item.title}</a></Menu.Item> }) }
    </Menu>  
    );
  },
}),
Right = React.createClass({
    getInitialState() {
        return {
            oldData: [],
            data: [],
            pagination : {},
            loading: true,
        };
    },
    componentDidMount() {
        $.getJSON('/Member/Index/getList', function(json){
          var total = json.length,
          pagination = {
                total: total,
                pageSize: <{$pageSize}>,
                current: this.getCurrentPage(total),
                showTotal: function(){
                    return '共 '+this.total+' 条记录，每页显示 '+ this.pageSize +' 条记录，第 '+this.current+' 页 / 共 '+Math.ceil(this.total / this.pageSize)+' 页';
                },
                onChange: function(current){
                    var pagination = this.state.pagination;
                    pagination.current = current
                    this.setState({pagination: pagination});
                }.bind(this)
          };
          this.setState({ loading: false, oldData: json, data: json, pagination: pagination });
        }.bind(this));
    },
    initColumns() {
        return [
            {title: 'ID', dataIndex: 'id'},
            {title: '企业名称', dataIndex: 'company'},
            {title: '登录账户', dataIndex: 'username'},
            {title: '联系人', dataIndex: 'contact'},
            {title: '联系电话', dataIndex: 'tel'},
            {title: '可用空间大小', className:'text_right', render: (text, record) => (
                <div><span className={record.space_class}>{record.usedspace}</span>/{record.space}M</div>
            )},
            {title: '到期时间', render: (text, record) => (
                <span className={record.expire_data_class}>{record.expire_data}</span>
            )},
            {title: '添加时间', dataIndex: 'addtime'},
            {title: '状态', width:45, render: (text, record) => (
              <Tooltip title="点击改变状态"><a onClick={()=>this.status(record.id,record.status)}>{record.status_msg}</a></Tooltip>
            )},
            {title: '操作', width:75, key: 'operation', render: (text, record) => (
              <span>
                <a onClick={()=>this.mod(record.id)}>修改</a>
                <span className="ant-divider"></span>
                <Popconfirm title="确定要删除吗？" placement="topRight" onConfirm={()=>this.remove(record.id)}>
                    <a>删除</a>
                </Popconfirm>
              </span>
            )}, 
        ];
    },
    getCurrentPage(total) {
        var totalPage = Math.ceil(total / <{$pageSize}>),
        page = <{$page}>;
        if (this.state.pagination.current)
            page = this.state.pagination.current;
        return page > totalPage ? totalPage : page;
    },
    add() {
      var url = '/Member/Index/add'
      if (this.state.page >1)
          url = url + '/page/' + this.state.page;
      window.location.href = url; 
    },
    mod(id) {
      var url = '/Member/Index/mod/id/'+id;
      if (this.state.page >1)
          url = url + '/page/' + this.state.page;
      window.location.href = url;
    },
    remove(id) {
        $.ajax({
            type: "GET",
            url: "/Member/Index/del",
            data: {id:id},
            success: function(json){
                var data,pagination;
                message[json.status](json.msg);
                if (json.status === 'success') {
                    data = this.state.oldData.filter(function(item){ return  item.id !== id;});
                    pagination = this.state.pagination;
                    pagination.total = data.length
                    pagination.current = this.getCurrentPage(pagination.total);
                    this.props.form.setFieldsValue({uid:"0"});
                    this.setState({data: data, oldData: data, pagination: pagination});
                }
            }.bind(this),
            error: function(){
              message.error('服务器开了一会小差，稍后重试。');
            }
        });
    },
    handleSubmit(e) {
        var data,pagination,uid;
        e.preventDefault();
        data = this.state.oldData;
        pagination = this.state.pagination;
        uid = this.props.form.getFieldsValue().uid;
        data = data.filter(function(item){
            if (uid !== "0") {
                if (item.id !== uid)
                    return false;
            }
            return true;
        });
        pagination.total = data.length;
        pagination.current = 1;
        this.setState({data:data,pagination:pagination});
    },
    status(id,status) {
        $.ajax({
            type: "POST",
            url: "/Member/Index/status",
            data: {id:id,status:status},
            success: function(json){
                var data;
                message[json.status](json.msg);
                if (json.status === 'success') {
                    data = this.state.data.map(function(item,index){
                        if (item.id == id) {
                            item.status = item.status == 0 ? 1 : 0;
                            item.status_msg = item.status == 0 ? '启用' : '禁用';
                        }
                        return item;
                    });
                    this.setState({data: data});
                }
            }.bind(this),
            error: function(){
              message.error('服务器开了一会小差，稍后重试。');
            }
        });
    },
    render() {
        var { getFieldProps } = this.props.form;
        return (
          <div>
          <Form inline onSubmit={this.handleSubmit} form={this.props.form} style={{marginBottom:16}}>
            <FormItem label="企业名称">
                <Select {...getFieldProps('uid',{initialValue:"0"})} showSearch optionFilterProp="children" notFoundContent="无法找到" size='default' style={{width:185}} >
                    <Option value="0">全部</Option>
                    {
                        this.state.oldData.map(function(item){
                            return <Option value={item.id}>{item.company}</Option>
                        })
                    }
                </Select>
            </FormItem>
            <Button type="primary" htmlType="submit">搜索</Button>
            <Button type="primary" onClick={this.add} style={{marginLeft:10}}>添加</Button>
          </Form>
          <Table className="userTable" columns={this.initColumns()} dataSource={this.state.data} loading={this.state.loading} pagination={this.state.pagination} bordered size="middle" /></div>
        );
    },
}),
Right = Form.create()(Right),
Main = React.createClass({
  render() {
    return (
      <div className="main-wrapper">
          <Row>
              <Col span="4">
                  <Left />
              </Col>
              <Col span="20" className="main-container">
                <h1><{$title}></h1>
                <Right />
              </Col>
          </Row>
      </div>
    );
  },
}),
Footer = React.createClass({
  render() {
    return (
      <div id="footer"><{:C('SITE_COPY')}></div>
    );
  },
}),
App = React.createClass({
  render() {
    return (
      <div className="page-wrapper">
          <Header />
          <Main />
          <Footer />
      </div>
    );
  },
});
ReactDOM.render(
    <App />,
    document.getElementById('react-content')
);
</script>
</body>
</html>