
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><{$title}> - <{:C('SITE_TITLE')}></title>
    <link rel="stylesheet" href="__PUBLIC__/js/antd/antd.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <!--[if lt IE 10]>
    <script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/js/reactjs/react/react.min.js"></script>
    <script src="__PUBLIC__/js/reactjs/react-dom/react-dom.js"></script>
    <script src="__PUBLIC__/js/browser.min.js"></script>
    <script src="__PUBLIC__/js/antd/antd.min.js"></script>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
<div id="react-content"></div>
<script type="text/babel">
var { Row, Col, Menu, Icon, Button, Modal, Alert, Popconfirm, message, Card,Tooltip, Form, Table,Select, Input, Radio } = antd,
    FormItem = Form.Item,
  RadioGroup  = Radio.Group,
Exit = React.createClass({
  handleClick() {
    Modal.confirm({
      title: '确定要退出系统吗？',
      onOk() {
       window.location.href = '/Login/Out/Index';
      },
      onCancel() {},
    });
  },
  render() {
    return (
      <div id="nav-exit"><a onClick={this.handleClick}>退出系统</a></div>
    );
  },
}),
Header = React.createClass({
  getInitialState() {
    return {
      current: '<{$Think.MODULE_NAME}>',
    };
  },
  render() {
  var modules = <{$modules}>;
    return (
      <div id="header" className="clearfix home-nav-white">
          <Row>
              <Col span="4">
                  <a id="logo" href="/">
                      <img alt="logo" src="__PUBLIC__/images/logo.svg" />
                      <span><{:C('SITE_TITLE')}></span>
                  </a>
              </Col>
              <Col span="20">
                  <Menu onClick={this.handleClick} selectedKeys={[this.state.current]} mode="horizontal" id="nav">
                      { modules.map(function(item, index){ return <Menu.Item key={item.key}><a href={item.url}>{item.title}</a></Menu.Item> }) }
                  </Menu>
          <Exit />
              </Col>
          </Row>
      </div>
    );
  },
}),
Left = React.createClass({
  getInitialState() {
    return {
      current: '<{$Think.CONTROLLER_NAME}>',
    };
  },
  render() {
  var controllers = <{$controllers}>;
    return (
    <Menu onClick={this.handleClick} selectedKeys={[this.state.current]} mode="inline" id="nav-aside">
      { controllers.map(function(item, index){ return <Menu.Item key={item.key}><a href={item.url}><Icon type={item.icon}/>{item.title}</a></Menu.Item> }) }
    </Menu>  
    );
  },
}),
Right = React.createClass({
    getInitialState() {
        return {
            oldData: [],
            data: [],
            pagination : {},
            loading: true,
        };
    },
    componentDidMount() {
        $.getJSON('/System/Email/admin', function(json){
          var total = json.length,
          pagination = {
                total: total,
                pageSize: <{$pageSize}>,
                current: this.getCurrentPage(total),
                showTotal: function(){
                    return '共 '+this.total+' 条记录，每页显示 '+ this.pageSize +' 条记录，第 '+this.current+' 页 / 共 '+Math.ceil(this.total / this.pageSize)+' 页';
                },
                onChange: function(current){
                    var pagination = this.state.pagination;
                    pagination.current = current
                    this.setState({pagination: pagination});
                }.bind(this)
          };
          this.setState({ loading: false, oldData: json, data: json, pagination: pagination });
        }.bind(this));
    },
    initColumns() {
        return [
            {title: 'ID', dataIndex: 'id'},
            {title: '公司名称', dataIndex: 'company'},
            {title: '企业邮箱', render: (text, record) => (
                <Tooltip title={record.ustatus_msg}><div>{record.uemail} <span className={record.ustatus_class}>{record.ustatus == 0 ? <Icon type="check-circle" /> : <Icon type="cross-circle" /> }</span></div></Tooltip>
            )},
            {title: '业务员邮箱', render: (text, record) => (
                <Tooltip title={record.sstatus_msg}><div>{record.semail} <span className={record.sstatus_class}>{record.sstatus == 0 ? <Icon type="check-circle" /> : <Icon type="cross-circle" /> }</span></div></Tooltip>
            )},
            {title: '采购商邮箱', render: (text, record) => (
                <Tooltip title={record.pstatus_msg}><div>{record.pemail} <span className={record.pstatus_class}>{record.pstatus == 0 ? <Icon type="check-circle" /> : <Icon type="cross-circle" /> }</span></div></Tooltip>
            )},
            {title: '发送时间', dataIndex: 'addtime'},
        ];
    },
    getCurrentPage(total) {
        var totalPage = Math.ceil(total / <{$pageSize}>),
        page = <{$page}>;
        if (this.state.pagination.current)
            page = this.state.pagination.current;
        return page > totalPage ? totalPage : page;
    },
    handleSubmit(e) {
        var data,pagination,values;
        e.preventDefault();
        data = this.state.oldData;
        pagination = this.state.pagination;
        values = this.props.form.getFieldsValue();
        values.pemail = $.trim(values.pemail);
        data = data.filter(function(item){
            if (values.pemail) {
                if (item.pemail.indexOf(values.pemail) === -1)
                    return false;
            }
            if (values.uid !== "0") {
                if (item.uid !== values.uid)
                    return false;
            }
            return true;
        });
        pagination.total = data.length;
        pagination.current = 1;
        this.setState({data:data,pagination:pagination});
    },
    render() {
        var { getFieldProps } = this.props.form;
        return (
            <div>
            <Form inline onSubmit={this.handleSubmit} form={this.props.form} style={{marginBottom:16}}>
            <FormItem label="会员公司名称">
                <Select {...getFieldProps('uid',{initialValue:"0"})} showSearch optionFilterProp="children" notFoundContent="无法找到" style={{width:185}} >
                    <Option value="0">全部</Option>
                    <?php foreach ($company as $key=>$val) {?>
                        <Option value="<?php echo $key;?>"><?php echo $val;?></Option>
                    <?php }?>
                </Select>
            </FormItem>
            <FormItem label="采购商邮箱">
                <Input {...getFieldProps('pemail')} placeholder="请输入采购商邮箱" />
            </FormItem>
            <Button type="primary" htmlType="submit">搜索</Button>
            </Form>
            <Table className="userTable" columns={this.initColumns()} dataSource={this.state.data} loading={this.state.loading} pagination={this.state.pagination} bordered size="middle" /></div>
        );
    },
}),
Right = Form.create()(Right),
Main = React.createClass({
  render() {
    return (
      <div className="main-wrapper">
          <Row>
              <Col span="4">
                  <Left />
              </Col>
              <Col span="20" className="main-container">
                <h1><{$title}></h1>
                <Right />
              </Col>
          </Row>
      </div>
    );
  },
}),
Footer = React.createClass({
  render() {
    return (
      <div id="footer"><{:C('SITE_COPY')}></div>
    );
  },
}),
App = React.createClass({
  render() {
    return (
      <div className="page-wrapper">
          <Header />
          <Main />
          <Footer />
      </div>
    );
  },
});
ReactDOM.render(
    <App />,
    document.getElementById('react-content')
);
</script>
</body>
</html>